 ::selection  {
     background-color: rgba(0, 0, 0, 0.884);
     color: #fff;
 }
 * {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    font-family: sans-serif;
}
.logo-img {
    max-width: 100%;
    max-height: 100px;
    margin-left: 43%;
    padding: 10px 0px;
}
.container {
    max-width: 70%;
    margin: auto;
}
.container h1  {
    display: inline-block;
    margin: 8px;
    font-size: 14px;
    margin-top: 30px;   
}
.container h1 a {
    text-decoration: none;
    color: #233773;
    font-weight: 700;
    font-family: sans-serif;
}
.container #nav {
    text-align: center;
}
header {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("https://uzbekcoders.uz/frontend/assets/images/uz_home.png");
    background-size: cover;
    width: 100%;
    height: 500px;
}
#text-home-html-text-index {
color: #fff;
padding-top: 40px;
}
#kelajak-k-home-index-html {
    font-size: 45px;
    font-weight: bold;
    font-family: "ZonaPro-Bold",sans-serif;
}
#kelajak-k-home-index-html2 {
    font-size: 45px;
    line-height: 0;
    margin-top: 9px;
    font-weight: bold;
    font-family: "ZonaPro-Bold",sans-serif;
}
header .header .container #text-home-html-text-index .p-text-home-index-html p {
    font-size: 1.5em;
    font-family: "ZonaPro-Bold",sans-serif;
}
header .header .container #text-home-html-text-index .p-text-home-index-html {
    box-shadow: none;
    padding-top: 10px;
}
#btn-register-home-index-html {
    padding-top: 40px;
    padding-bottom: 110px;
    
}
#btn-register-home-index-html .btn-register-uzbek-index-coders-home {
    font-size: 20px;
    background-color: #308c86;
    padding: 20px 45px;
    border-radius: 60px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 7px 20px #333;
    transition: all 0.3s;
}
#btn-register-home-index-html .btn-register-uzbek-index-coders-home:hover {
    background-color: #d18924;
}
#btn-next-to-pastga {
    position: relative;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    animation: learn-more-btn infinite 0.5s;
}
@keyframes learn-more-btn {
    0% {
        margin-top: 10px;
    }
    34% {
        margin-top: 10px;
    }
    68% {
        margin-bottom: 10px;
    }
    100% {
        margin-bottom: 10px;
    }
}


.imgs img {
    max-height: 50px;
    max-width: 100%;
    max-height: 100px;
    display: initial;
}
.imgs {
    margin-top: 40px;
}
.imgs .mitc-index {
    margin-left: 40px;
    margin-bottom: 22px;
}

.text-index-page-home #bir {
    color: #05407b;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    text-transform: uppercase;
    margin-top: 65px;
}
.text-index-page-home span {
    color: #777;
    font-weight: normal;
    display: block;
    font-size: 21px;
    text-transform: none;
    margin-top: 20px;
    text-align: center;
    margin-top: 25px;
}
.text-index-page-home .border {
    border-bottom: 2px solid #000;
    width: 85px;
    margin: auto;
    padding-bottom: 40px;
}
.container .consoll {
    margin-top: 50px;
}
.container .consoll p {
    font-size: 17px;
    margin-top: 15px;
    color: #777;
    line-height: 28px;
    margin-bottom: 40px;
}
.container .consoll h4 {
    line-height: 1.3;
    margin: 1em 0 .5em;
}
.container .consoll div {
    width: 80%;
    margin: auto;
}
.container .consoll h4, .consoll p, .consoll {
    text-align: center;
}
.container .consoll img{
    height: 60px;
}
.container .consoll h4 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.royxat2 #btn-register-home-index-html {
    text-align: center;
}
.container .youtube-video iframe {
    width: 100%;
    margin-bottom: 30px;
}
.naqsh-rasm {
    background-image:url(https://uzbekcoders.uz/frontend/assets/images/uz_home_2.png);
    width: 100%;
    background-size: cover;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 40px;
    height: 440px;
}
.naqsh-rasm .rasm-naqsh-opo {
    width: 100%;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.589);
    margin-top: -40px;
}
.naqsh-rasm .rasm-naqsh-opo #dtkt{
    color: #d18924;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    text-transform: uppercase;
    padding-top: 100px;
}
.naqsh-rasm .rasm-naqsh-opo #p-text-naqsh {
    color: #fff;
    font-weight: bold;
    display: block;
    font-size: 21px;
    text-transform: none;
    margin-top: 20px;
    text-align: center;
}
.border-rasm {
    border-bottom: #fff 3px solid;
    width: 170px;
    margin: auto;
    margin-top: 20px;
}
.naqsh-rasm .rasm-naqsh-opo .container img {
    width: 140px;
    margin-left: 43%;
    margin-top: 60px;
}
.h1-text-oxir .container h1 {
    font-size: 49px;
    text-align: center;
    color: #05407b;
    font-weight: bold;
    margin-top: 70px;
}
.h1-text-oxir .container p {
    font-size: 30px;
    color: #000;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
}
.border-rasm2{
    border-bottom: #000000 solid 2px;
    width: 100px;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.container .page div img  {
    background-color: #d18924;
    border-radius: 25px;
    padding: 10px; 
}
.container .page div {
    text-align: center;
}
.container .page div {
    width: 26%;
    margin: auto;
}
.container .page div h1 {
    font-size: 19px;
    color: #d18924;
}
.container .page .page2,.container .page .page3 {
    margin-top: 40px;
}

.hamkorlar-img img {
    max-width: 100%;
    max-height: 100px;
    display: initial;
}
.hamkorlar-img {
    float: right;
    margin: auto;
    margin-right: 80px;
    margin-top: 100px;
}
@media only screen and (max-width: 600px) {
    .p-text-home-index-html p{
        font-size: 23px;
    }
    #kelajak-k-home-index-html2 {
        font-size: 30px;
    }
    #kelajak-k-home-index-html1 {
        font-size: 30px;
    }

    .text-index-page-home #bir {
        font-size: 21px;
    }
    .text-index-page-home span {
        font-size: 18px;
    }
  }
  @media only screen and (max-width: 820px) {
    header {
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("https://uzbekcoders.uz/frontend/assets/images/uz_home.png");
        background-size: cover;
        width: 100%;
        height: 600px;
    }
    .logo-img {
        max-width: 100%;
        max-height: 100px;
        margin-left: 38%;
        padding: 10px 0px;
    }
    .naqsh-rasm .rasm-naqsh-opo .container img {
        margin-left: 37%;
    }
  }
  @media only screen and (max-width: 460px) {
      header {
          height: 680px;
      }
      .naqsh-rasm .rasm-naqsh-opo .container img {
        margin-left: 30%;
    }
    .naqsh-rasm {
        background-image:url(https://uzbekcoders.uz/frontend/assets/images/uz_home_2.png);
        width: 100%;
        background-size: cover;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-top: 40px;
        height: 460px;
    }
    .naqsh-rasm .rasm-naqsh-opo {
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 0, 0.589);
        margin-top: -40px;
    }
  }
  @media only screen and (max-width: 350px) {
    #btn-register-home-index-html .btn-register-uzbek-index-coders-home {
        font-size: 14px;
    }
    header {
        height: 730px;
    }
    .logo-img {
        margin-left: 35%;
    }
  }