 ::selection  {
     background-color: rgba(0, 0, 0, 0.884);
 }
 * {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
}
.logo-img {
    max-width: 100%;
    max-height: 100px;
    margin-left: 43%;
    padding: 10px 0px;
}
.container {
    max-width: 70%;
    margin: auto;
}
.container h1  {
    display: inline-block;
    margin: 4px;
    font-size: 14px;
}
.container h1 a {
    text-decoration: none;
    color: #233773;
    font-weight: 700;
    font-family: sans-serif;
}
.container #nav {
    text-align: center;
}